{% extends "layout.html" %}

{% set active_page = "page1" %}

{% block title %}Data{% endblock %}

{% block content %}
	<script>
		window.onload = function () {
			var chart = new CanvasJS.Chart("sectorPieChart", {
				exportEnabled: true,
				animationEnabled: true,
				title:{
					text: "Emissions Distribution"
				},
				legend:{
					cursor: "pointer",
					itemclick: explodePie
				},
				data: [{
					type: "pie",
					showInLegend: true,
					startAngle: 30,
					toolTipContent: "{name}: <strong>{y}%</strong>",
					indexLabel: "{name} - {y}%",
					dataPoints: [
						{{ points }}
					]
				}]
			});
			chart.render();
			
			var chart = new CanvasJS.Chart("splineChart", {
				animationEnabled: true,  
				title:{
					text: "Total Emissions Per Year"
				},
				axisY: {
					title: "Kilotons of CO2",
					valueFormatString: "#,###",
					suffix: "kt",
					stripLines: [{
						value: {{ average }},
						label: "Average"
					}]
				},
				axisX: {
				   title: "Year"
				},
				data: [{
					yValueFormatString: "#,### Kilotons",
					xValueFormatString: "YYYY",
					type: "spline",
					dataPoints: [
						{{ splineData }}
					]
				}]
			});
			chart.render();
		}
		
		function explodePie (e) {
			if(typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined" || !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
				e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
			} else {
				e.dataSeries.dataPoints[e.dataPointIndex].exploded = false;
			}
			e.chart.render();
		}
		
		
	</script>
	<div id="parent">
		<div id="child1" class="block center">
			<form action="/p1">
				<label for="targetCountry" class="text">Select a country: </label>
				<select name="targetCountry" required>
					<option value="" disabled selected hidden>Select a country...</option>
					{{ options }}
				</select>
				<br><br>
				
				<label for="startYear" class="text">Enter a year range:</label>
				<input type="number" name="startYear" id="startYear" placeholder="from..." min="1970" max="2012" step="1" value="{{ startYearInput }}" required></input>

				<input type="number" name="endYear" id="endYear" placeholder="to..." min="1970" max="2012" step="1" value="{{ endYearInput }}" required></input>
				<br><br>
				
				<input type="submit"></input>
			</form>
		</div>
		<div id="child2" class="block left">
			<h1 class="underline-small">
				Emissions Data for {{ country }} {{ yearRange }}:
			</h1>
		</div>
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th></th>
						<th scope="col">Minimum</th>
						<th scope="col">Maximum</th>
						<th scope="col">Average</th>
						<th scope="col">Deviation</th>
						<th scope="col">Total</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">CO<sub>2</sub></td>
						<td>{{ minCarbon }} kt</td>
						<td>{{ maxCarbon }} kt</td>
						<td>{{ averageCarbon }} kt</td>
						<td>{{ carbonDeviation }} kt</td>
						<td>{{ totalCarbon }} kt</td>
					</tr>
					<tr>
						<th scope="row">N<sub>2</sub>O</td>
						<td>{{ minNitrous }} kt</td>
						<td>{{ maxNitrous }} kt</td>
						<td>{{ averageNitrous }} kt</td>
						<td>{{ nitrousDeviation }} kt</td>
						<td>{{ totalNitrous }} kt</td>
					</tr>
					<tr>
						<th scope="row">CH<sub>4</sub></td>
						<td>{{ minMethane }} kt</td>
						<td>{{ maxMethane }} kt</td>
						<td>{{ averageMethane }} kt</td>
						<td>{{ methaneDeviation }} kt</td>
						<td>{{ totalMethane }} kt</td>
					</tr>
					<tr>
						<td colspan="6"></td>
					</tr>
					<tr>
						<th scope="row">% of World</td>
						<td colspan="4"></td>
						<td>{{ percentOfWorld }}%</td>
					</tr>
				</tbody>
			</table>		
		</div>
	</div>
	<div id="sectorPieChart" class="block center" style="height: 300px; width: 100%;"></div>
	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
	<br><br><br><br>
	<div id="splineChart" class="block center" style="height: 300px; width: 100%;"></div>
	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
	<br><br><br><br>
{% endblock %}